examples/receiver_flow.json
[
    {
        "id": "007c73b4d93d06b6",
        "type": "tab",
        "label": "Receiver",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0179a152ed39ad74",
        "type": "inject",
        "z": "007c73b4d93d06b6",
        "name": "Enter chat name after -c",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "nlp_eng",
        "payloadType": "str",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "91f291d2f51f7ec8"
            ]
        ]
    },
    {
        "id": "91f291d2f51f7ec8",
        "type": "pythonshell in",
        "z": "007c73b4d93d06b6",
        "name": "receiver ",
        "pyfile": "/home/monk/telegram_node_red/receiver.py",
        "virtualenv": "/home/monk/telegram_node_red/.venv",
        "continuous": true,
        "stdInData": true,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "6f3e5dfe6333ed73"
            ]
        ]
    },
    {
        "id": "6f3e5dfe6333ed73",
        "type": "debug",
        "z": "007c73b4d93d06b6",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "d87084a24085a177",
        "type": "comment",
        "z": "007c73b4d93d06b6",
        "name": "Only full Path supports. Two flags turn ON",
        "info": "",
        "x": 400,
        "y": 80,
        "wires": []
    }
]