examples/receiver_all.json
[
    {
        "id": "007c73b4d93d06b6",
        "type": "tab",
        "label": "Receiver all messages",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91f291d2f51f7ec8",
        "type": "pythonshell in",
        "z": "007c73b4d93d06b6",
        "name": "receiver ",
        "pyfile": "/home/monk/telegram_node_red/receiver_all.py",
        "virtualenv": "/home/monk/telegram_node_red/.venv",
        "continuous": true,
        "stdInData": false,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "6f3e5dfe6333ed73"
            ]
        ]
    },
    {
        "id": "6f3e5dfe6333ed73",
        "type": "debug",
        "z": "007c73b4d93d06b6",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "d87084a24085a177",
        "type": "comment",
        "z": "007c73b4d93d06b6",
        "name": "Only full Path supports. Continuous? flag turn ON",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    }
]